<p>
  Пицца смайл пиццерияСтраница просмотрена всего - 241 516, вчера - 98Пицца смайлАдрес:
  Огинского, 2 (ТЦ "Санта")
  Карта проездаТелефоны:+375 33 63 03 752+375 33 68 92 055grodno.pizzasmile.byВремя работы:пн-чт 11:00 - 22:00
  пт-вс 11:00 - 23:00
  Описание3D панорамыНовостиФотогалереяОтзывыДоставка еды
  Pizza Smile - это пиццерия хорошего настроения. Мы с удовольствием порадуем Вас  своими блюдами, а также принесем немного позитива в Ваш день улыбкой и радушным приемом.

  К нам заходят в любое время и по любому поводу: будь то романтическое свидание за чашечкой ароматного кофе и сладким десертом, или семейный ужин за сытной и вкусной пиццей, или просто вечер выходного дня в компании лучших друзей за бокалом пива.

  Отличие меню Pizza Smile от других пиццерий состоит в том, что мы собрали не просто блюда итальянской кухни, но также отобрали самые вкусные и популярные блюда европейской и японской кухни. При этом добавили в каждое блюдо свою изюминку, авторский вкусовой акцент.

  Cтильная пиццерия «Pizza Smile» расположенная по адресу: улица Победы, 47 в здании торгового центра "Евроопт". Просторный и уютный зал с солнечными витражными окнами, итальянский дизайн интерьера, выполненный в кофейный тонах для того, чтобы Вы могли отдохнуть и расслабиться после напряженного рабочего дня. Интерьер ресторана прост и гармоничен, в сочетании с мягким освещением  не отвлекает от поглощения пиццы, а делает его еще более приятным.

  В меню каждый сможет отыскать блюдо для себя, в зависимости от личных вкусовых предпочтений.Наши кафе готовы предоставить своим гостям  большой выбор вкуснейших блюд европейской, белорусской кухни, а также популярные пиццы и суши. В наших пиццериях постоянно действуют акции, интересные предложения и подарки для наших гостей.
  Не хотите готовить  дома, закажите у нас еду с доставкой. Мы с радостью накормим Вас! Доставка еды после 10 р. БЕСПЛАТНО!

  А если Вы хотите получать до 100 % скидки на еду и напитки в наших заведениях, становитесь участниками "БОН-ТОНН" и копите БОНусы ТОННами!
</p>
