<div class="footer">
  <p class="footer__text">CONTACT US</p>
  <div class="footer__icon-container">
    <div class="social twitter">
      <a href="#" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>
    </div>
    <div class="social instagram">
      <a href="#" target="_blank"><i class="fa fa-instagram fa-1x"></i></a>
    </div>
    <div class="social facebook">
      <a href="#" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>
    </div>
    <div class="social vk">
      <a href="#" target="_blank"><i class="fa fa-vk fa-1x"></i></a>
    </div>
  </div>
</div>
